node_modules
dist
build
coverage
.turbo
*.log
.DS_Store
.env
.env.*
!.env.example
.vscode/*
!.vscode/extensions.json
.idea
*.tsbuildinfo

# playwright
playwright-report/
test-results/
.playwright/

# terraform
.terraform/
*.tfplan
*.tfplan.*
terraform.tfstate
terraform.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
